In [4]:
# Class to colorize, bold, or underline outpu
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[91m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'
    
#

import pandas as pd
import numpy as np
# define header fro our data,, the UCI (Census Income) dataset does not have a header.
headers = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

# load the data from github repo and convert the values with '?' to NaN
url = "https://raw.githubusercontent.com/vbloise3/whizLabsML/master/CensusIncome/CensusIncomeDataset.csv"
df = pd.read_csv(url, error_bad_lines=False, header=None, names=headers, na_values="null")
# head of the df
df.head(10)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19528\3604856885.py:23: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(url, error_bad_lines=False, header=None, names=headers, na_values="null")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [5]:
# Separate the features.
feature_df = df.drop('income', axis=1)
# Separate the target
target_df = df.drop(df.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1)
feature_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [6]:
# What data types are in the dataset
feature_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [8]:
# Create a dataframe of only the categorical features.
categorical_featuresDF = feature_df.select_dtypes(include=['object']).copy()
categorical_featuresDF

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [9]:
# Find any Null value metrics in the categorical features.
categorical_featuresDF_NaN = categorical_featuresDF[categorical_featuresDF.isnull().any(axis=1)]
categorical_featuresDF_NaN

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,NaN
27,NaN,Some-college,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,South
38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,NaN
51,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,NaN
61,NaN,7th-8th,Married-spouse-absent,NaN,Not-in-family,White,Male,NaN
...,...,...,...,...,...,...,...,...
32530,NaN,Bachelors,Married-civ-spouse,NaN,Wife,White,Female,United-States
32531,NaN,Bachelors,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,United-States
32539,NaN,Doctorate,Married-civ-spouse,NaN,Husband,White,Male,United-States
32541,NaN,HS-grad,Separated,NaN,Not-in-family,Black,Female,United-States
32542,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States

In [10]:
# Which features have a NaN value?
categorical_featuresDF.columns[categorical_featuresDF.isna().any()].tolist()

['workclass', 'occupation', 'native-country']

In [14]:
# Impute the NaN values using scikit-learn SimpleImpute Class
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
# Impute workclass values.
imputer = imputer.fit(feature_df[['workclass']])
feature_df['workclass'] = imputer.transform(feature_df[['workclass']]).ravel()
# Impute occupation values.
imputer = imputer.fit(feature_df[['occupation']])
feature_df['occupation'] = imputer.transform(feature_df[['occupation']]).ravel()
# Impute native-country values.
imputer = imputer.fit(feature_df[['native-country']])
feature_df['native-country'] = imputer.transform(feature_df[['native-country']]).ravel()

# Recreate the dataframe of only the categorical features.
categorical_featuresDF = feature_df.select_dtypes(include=['object']).copy()

# Recheck to find any null value entries in the categorical features.
categorical_featuresDF_NaN = categorical_featuresDF[categorical_featuresDF.isnull().any(axis=1)]
# Which features have a NaN value?
categorical_featuresDF.columns[categorical_featuresDF.isna().any()].tolist()

[]

In [15]:
# Use binary encoding for the sex feature.
from sklearn.preprocessing import LabelBinarizer
# How many different sex feature value types are there
print(color.BOLD + color.PURPLE + "\nHow many different sex feature types?" + color.END)
print(categorical_featuresDF["sex"].value_counts())

How many different sex feature types?
 Male      21790
 Female    10771
Name: sex, dtype: int64

In [16]:
label_style = LabelBinarizer()
label_results = label_style.fit_transform(categorical_featuresDF["sex"])
print(color.BOLD + color.PURPLE + "\nLabelBinarizer of sex feature" + color.END)
categorical_featuresDF["sex_code"] = pd.DataFrame({'sex': label_results[:, 0]})
categorical_featuresDF[["sex", "sex_code"]].head(15)

LabelBinarizer of sex feature

        sex  sex_code
0      Male         1
1      Male         1
2      Male         1
3      Male         1
4    Female         0
5    Female         0
6    Female         0
7      Male         1
8    Female         0
9      Male         1
10     Male         1
11     Male         1
12   Female         0
13     Male         1
14     Male         1